// For retrieving Tweets
TWITTER_API_KEY=

// Directory of Blog Posts
BLOG_DIRECTORY='content'

// For Giscus
NEXT_PUBLIC_REPO=
NEXT_PUBLIC_REPO_ID=
NEXT_PUBLIC_CATEGORY=
NEXT_PUBLIC_CATEGORY_ID=

// For KV
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

// For Node Environment (development or production)
NODE_ENV=
