@import "tailwindcss";
@plugin "@tailwindcss/typography";

button {
  cursor: pointer;
}

@theme {
  --color-white: #fff;
  --color-black: #000;
}

.prose {
  blockquote p:first-of-type::before {
    content: none;
  }

  blockquote p:first-of-type::after {
    content: none;
  }

  a {
    @apply text-blue-600;

    &:hover {
      @apply text-blue-800;
    }

    code {
      @apply text-blue-600;
    }
  }

  code {
    @apply text-pink-600;
  }

  h1 {
    @apply text-2xl mb-0;
  }

  h2 {
    @apply font-extrabold text-xl;
  }

  h3 {
    @apply font-extrabold text-lg;
  }

  hr {
    @apply my-8;
  }

  p {
    @apply text-slate-800;
  }

  img {
    @apply my-0;
  }

  ul {
    @apply mt-0;
  }

  blockquote p {
    @apply text-slate-600;
  }

  pre {
    @apply relative;

    code {
      @apply overflow-hidden;
      white-space: pre-wrap !important;
    }

    button {
      @apply absolute right-2 top-2 hidden;
    }

    &:hover button {
      @apply block;
    }
  }
}

.dark .prose {
  a {
    @apply text-blue-400;

    &:hover {
      @apply text-blue-600;
    }

    code {
      @apply text-blue-400;
    }
  }

  code {
    @apply text-pink-400;
  }

  p {
    @apply text-slate-200;
  }

  blockquote p {
    @apply text-slate-400;
  }
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 100%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-slate-400 dark:text-slate-200;
  content: "#";
}

.prose *:hover>.anchor {
  @apply visible;
}

table {
  @apply border border-slate-200 dark:border-slate-600 border-collapse m-0 p-0 w-full !table-fixed;
}

table tr {
  @apply border border-slate-200 dark:border-slate-600 bg-slate-50 p-2 dark:bg-slate-800 break-words;
}

table th,
table td {
  @apply !p-2 text-center !align-middle text-sm;
}

.LC {
  background: #066;
  color: #fff;
}

.NE {
  background: #eee;
  color: #000;
}

.EN {
  background: #c63;
  color: #fc9;
}

.EW {
  background: #000;
  color: #fff;
}

.EX {
  background: #000;
  color: #c33;
}

.NT {
  background: #066;
  color: #9c9;
}

.VU {
  background: #c90;
  color: #ffc;
}

.DD {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.CR {
  background: #c33;
  color: #fcc;
}