@tailwind base;
@tailwind components;
@tailwind utilities;

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 100%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-slate-400 dark:text-slate-200;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  border-radius: 0;
}
