/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Cantarell;
    src: url("fonts/cantarell-regular.woff2") format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: Cantarell;
    src: url("fonts/cantarell-bold.woff2") format("woff2");
    font-weight: 700;
  }
  @font-face {
    font-family: Cantarell;
    src: url("fonts/cantarell-thin.woff2") format("woff2");
    font-weight: 100;
  }
  @font-face {
    font-family: Cantarell;
    src: url("fonts/cantarell-light.woff2") format("woff2");
    font-weight: 300;
  }

  @font-face {
    font-family: Cantarell;
    src: url("fonts/cantarell-extrabold.woff2") format("woff2");
    font-weight: 800;
  }

  h2 {
    @apply font-extrabold text-2xl pb-4;
  }

  a {
    @apply text-blue-500 hover:text-blue-700 font-normal no-underline hover:underline;
  }
}

.mjx-chtml {
  font-size: 100% !important;
}
