@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 100%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-gray-400 dark:text-gray-200;
  content: '#';
}

.prose *:hover>.anchor {
  @apply visible;
}